doctype html
html
  head
    title Portfolio
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/css/bootstrap.css')

  body
    div(class='top-nav')

    block content


    script(src='/scripts/jquery.js' rel='text/javascript')
    script(src='/scripts/bootstrap.js' rel='text/javascript')
