doctype html
html
  head
    title Portfolio
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/css/bootstrap.css')

  body
    div(class='top-nav')
      p(class='main-logo') TripPortfolio
      a(href='http;//www.linkedin.com' class='social-media-icon linkedin-icon pull-right')
        img(src='/images/linkedin_transparent.png')
      a(href='http;//www.github.com/stephentriphahn' class='social-media-icon linkedin-icon pull-right')
        img(src='/images/githubIcon.png')
    div(class='container-fluid')
      div(class='row main-button-row')
        div(class='main-buttons col-lg-10 col-lg-offset-1')
          a(href="/#" class="main-button")
            img(src='')
          a(href="/#" class="main-button")
            img(src='')
          a(href="/#" class="main-button")
            img(src='')
          a(href="/#" class="main-button")
            img(src='')
        block content


    script(src='/scripts/jquery.js' rel='text/javascript')
    script(src='/scripts/bootstrap.js' rel='text/javascript')
