body {
  background: url(../images/main.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div.top-nav {
  width:auto;
  height:100px;
  background-color:#ffffff;
  opacity: .1;
}
