@font-face {
  font-family: main-font;
  src: url(../fonts/SofadiOne-Regular.ttf);
}

@font-face {
  font-family: yard-sale;
  src: url(../fonts/YARDSALE.TTF);
}

body {
  background: url(../images/main6.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div.top-nav {
  width:auto;
  height:50px;
  background-color: #4CAF50;

}

p.main-logo {
  font-family: yard-sale;
  color:white;
  display: inline;
  font-size: 40px;
  opacity: 1;
}

div.main-button-row {
  margin-top: 70px;
}

div.main-buttons {
  padding-left: 20px;
  text-align:top;
  line-height: 100px;
  text-align: center;
}

div.main-buttons a.main-button {
  display:inline-block;
  height:225px;
  width:225px;
  border-radius: 50%;
  background-color: #FF3D00
;
  margin:12px;
}
a.main-buttom img{
  position:relative;
  left: 7px;
}
a.main-button span{
  font-size: 25px;
  color: white;
  text-decoration:none;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-family: main-font;
}
a.social-media-icon img{
  height: 50px;
  width: 50px;
}
